<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css">
    <title>Home</title>
</head>

<body  style="background-color: #f1f1f1;">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-5">
            <div class="col-md-5">
                <div class="card card-body shadow">
                    <form action="/register" method="POST">
                        <div class="form-group text-center">
                            <h3>Sign Up and Enjoy!</h3>
                            <br><br>
                            <input class="form-control" type="text" name="name" placeholder="Write your name"
                                autofocus>
                            <br><br>
                            <input class="form-control" type="email" name="email" placeholder="Write your email"
                                autofocus>
                            <br><br>
                            <input class="form-control" type="password" name="password"
                                placeholder="Write your password">
                            <br><br>
                            <button class="btn btn-primary btn-block" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>